body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.banner {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;

}

.sidebar h3{

  color: #ffffff;
}

.sidebar label{

  color: #ffffff;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 36px;
  cursor: pointer;
  color: white;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
}



.banner-content {
  color: white;
  padding: 20px;
}

.banner-content h1 {
  font-size: 40px;
  margin-bottom: 135px;
  text-shadow: 2px 2px 4px rgba(132, 130, 130, 0.2);
}

.navbar {
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar a {
  padding: 32px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar img{

  justify-content: left;
  width: 90px;

}
.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 380px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.product-card img {
  width: 350px;
  height: 240px;
  border-radius: 5px;
}

.product-info h2 {
  font-size: 18px;
}

.product-info h3 {
  font-size: 16px;
}

.prijs {
  font-size: 35px;
  color: #000000; 
  font-weight: bold;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}





