/* Algemene body-styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigatie */
.navbar {
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  gap: 21px;
  padding: 10px ;
  box-sizing: border-box;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 5px;
}


.navbar .active {
  display: flex;
  align-items: center;
  gap: 10px; /* Ruimte tussen tekst en prijsschuif */
}

#priceSlider {
  width: 120px; /* Past de breedte aan van de schuifbalk */
}

.navbar img {
  width: 90px;
}

.navbar a:hover {
  background-color: #000;
}



/* Sidebar instellingen */
.banner {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 30;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding:15px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}


/* Flexbox voor de container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Product kaarten styling */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 380px;
  background-color: #f9f9f9;
  margin-top: 10px;
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  height: auto;
  max-width: 350px;
  border-radius: 5px;
}

/* Hover effect voor de product-kaarten */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Prijs styling */
.prijs {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: bottom;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Media query voor kleinere schermen */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .product-card {
    max-width: 300px;
    width: 100%;
  }

  .product-card img {
    width: 100%;
    height: auto;
  }
}

/* Media query voor mobiele schermen */
@media screen and (max-width: 480px) {
  .navbar a {
    padding: 10px;
    font-size: 16px;
  }

  .navbar img {
    width: 70px;
  }

  .sidebar a {
    font-size: 16px;
  }

  .container {
    justify-content: space-between;
    gap: 15px;
  }

  .product-card {
    max-width: 100%;
  }
}
